{% extends 'BlogBundle:layouts:master.html.twig' %}

{% block content %}


    <h1>{{ post.title }}</h1>
    <hr>
    <p>{{ post.body }}</p>

    <br>

    <br>


    {% for comment in comments %}
        <div class="col-md-2">
            {{ comment.created }}
        </div>
    <div class="col-md-2">
        {{ comment.body }}
    </div>
    {% endfor %}



{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

{% endblock %}