{% extends 'BlogBundle:layouts:master.html.twig' %}

{% block content %}


    <h1>{{ result.title }}</h1>
    <hr>
    <p>{{ result.body }}</p>

    <br>

    <br>

{{ form_start() }}
{{ form_widget() }}
{{ form_end() }}

{% endblock %}