{% extends 'BlogBundle:layouts:master.html.twig' %}

{% block content %}


    <h1>{{ post.title }}</h1>
    <hr>
    <div class="col-md-12"><strong>{{ post.body }}</strong></div>

    <br>

    <br>


    {% for comment in comments %}

        <p>
            {{ comment.created|date("F jS \\a\\t g:ia") }}
        </p>

    <div class="col-md-2">
        {{ comment.body }}
    </div>
        <hr>
    {% endfor %}



<div class="col-md-2">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
</div>

{% endblock %}