{% extends 'BlogBundle:layouts:master.html.twig' %}

{% block content %}


    <h1>{{ post.title }}</h1>
    <p class="text-primary"> {{ postAuthor.username }}</p>
    <hr>
    <div class="col-md-12"><strong>{{ post.body }}</strong></div>

    <br>

    <br>


    {% for comment in comments %}



        <p class="text-primary"> {{ comment.user.username }}</p>


        <p>{{ comment.created|date("F jS \\a\\t g:ia") }}</p>


        <p>{{ comment.body }}<p>



        <hr>
    {% endfor %}


{% if app.user is not null %}
<div class="col-md-2">
{% include '@Blog/Blog/form.html.twig' %}
</div>
{% endif %}

{% endblock %}